$text: #444;
$bubblebg: lightyellow;
$bubbleborder: $text;

.container {
  transition: opacity .5s ease-in-out;
  position:fixed;
  right:25px;
  bottom:25px;

  font-family: Arial, sans-serif;
  font-size: 14px;
  color: $text;

  @-webkit-keyframes Floatingx{
    from {-webkit-transform:translate(0, 0px);}
    65% {-webkit-transform:translate(0, 15px);}
    to {-webkit-transform: translate(0, -0px);}
  }
}

.ionitron {
  height: 150px;
  -webkit-animation-name: Floatingx;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
}

/* CSS talk bubble */
.talk-bubble {
  margin: 40px;
  display: inline-block;
  position: relative;
  width: 200px;
  height: auto;
  background-color: $bubblebg;
  border: 2px solid $bubbleborder;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;

  &:after,
  &:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    top: auto;
    left: auto;
  }

  &:after {
    right: -20px;
    bottom: 38px;
    border: 12px solid;
    border-color: $bubblebg transparent transparent $bubblebg;
  }

  &:before {
    right: -25px;
    bottom: 40px;
    border: 12px solid;
    border-color: $bubbleborder transparent transparent $bubbleborder;
  }

  ul {
    list-style: none;
    margin: 10px 0 0;
    padding: 0;

    li {
      padding-left: 30px;
      position: relative;

      &:before {
        $s: 10px;
        content: ' ';
        background: url('./assets/bullet.png');
        background-size: $s $s;
        width: $s;
        height: $s;
        position: absolute;
        top: 5px;
        left: 10px;
        display: block;
      }
    }
  }
}

.talk-text {
  padding: 10px 13px;
  text-align: left;
  line-height: 1.5em;

  p {
    /* remove webkit p margins */
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
  }

  li, span {
    cursor: pointer;
  }
}
